#input-btn {
    background-color: rgb(0, 41, 77);
    color: #10B981;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.1s;
    border-radius: 5px;
    display: block;
    margin: 10px 0;
}


body {
    margin:0;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    min-height: 500px;

}

input {
    width: 100%;
    height: 10%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 3px solid #10B981;
    box-shadow: 3px  #10B981;
}

button:hover {
    background-color: #15c98d;
}

button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 0px rgb(13, 148, 103); 
}



ul{
    list-style: none;
    padding-left: 0;
}


li{
    margin-top: 5px;
}


li a{
    color: #15c98d;
}